<!document html>
<html>
<head>
	<title>Meadolark Travel</title>
</head>
<body>
	<header><img src="/img/Penguins.jpg" alt="Meadowlark Travel Logo" style="height:100px;"></header>
	{{{body}}}
</body>
</html>